@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Silkscreen&display=swap');
@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorPrimarioFondo: #040b14;
    --colorFuenteHeader: lightgray;
    --colorSubtitulos: #149ddd;
    --fuentePrimaria: 'Kanit', sans-serif;
    --fuentePortada: 'Silkscreen', cursive;
    --tamanioFuenteH2: 2.5rem;
    --backgroundPortfolio: rgba(20, 157, 221, 0.1); 
}

html {
    font-size: 62.5%;
    font-family: var(--fuentePrimaria);
    scroll-behavior: smooth;
}