main #sobre-mi {
    margin: 0rem 2.5rem;
}

main #portfolio {
    padding: 0rem 2rem;
    margin-top: 2rem;
}

main #contacto {
    margin: 0rem 2.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    
    main #portfolio {
        box-sizing: border-box;
        max-width: 1620px;
        border-radius: 20px;
    }

    main #contacto {
        max-width: 1620px;
        width: 100%;
    }
}